.birthdayCell {
    min-width: 30%;
    flex-basis: 20%;
}

.innerDiv {
    background-color: white;
    height: 30vh;
    display: flex;
    flex-direction: column
}

.headerContainer {
    background-color: #a99fe8;
    height: 50px;
    text-align: right;
    padding: 12px 10px 0 10px;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px
}

.birthdayCardsContainer {
    display: flex;
    flex-wrap: wrap;
    height: 100%
}
